body{
font-family:Arial, sans-serif;
background:#822222;
margin:0;
padding:0;
}

h2{
color:white;
text-align:center;
margin-top:30px;
}

form{
width:450px;
margin:30px auto;
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

input,select,textarea,button{
width:100%;
padding:8px;
margin-top:5px;
margin-bottom:15px;
border:1px solid #ccc;
border-radius:5px;
box-sizing:border-box;
}

input[type="radio"],
input[type="checkbox"]{
width:auto;
margin-right:5px;
}

textarea{
height:80px;
resize:none;
}

input[type="submit"]{
background:#4CAF50;
color:white;
border:none;
cursor:pointer;
}

input[type="submit"]:hover{
background:#45a049;
}
button[type="button"]{
background:#2196F3;
border:none;
cursor:pointer;
}
button[type="button"] a{
color:white;        
text-decoration:none;
}
button[type="button"]:hover{
background:#45a049;
}
input[type="reset"]{
background:#f44336;
color:white;
border:none;
cursor:pointer;
}

input[type="reset"]:hover{
background:#d32f2f;
}